In [4]:
import pandas as pd
import string
import numpy as np

In [6]:
df = pd.read_csv('data/exports/usa/combined_export.csv')

In [7]:
df.tail()

,Product Code,Product Label,Total Export to China (in USD),Total Export to Mexico (in USD),Total Export to India (in USD),Total Export to Nepal (in USD),Total Export to Unitedkingdom (in USD),Total Export to Belgium (in USD),Total Export to Israel (in USD),Total Export to Denmark (in USD),...,Total Export to Afghanistan (in USD),Total Export to Taiwan (in USD),Total Export to Bhutan (in USD),Total Export to Australia (in USD),Total Export to Yemen (in USD),Total Export to Ghana (in USD),Total Export to Vietnam (in USD),Total Export to Spain (in USD),Total Export to Greenland (in USD),Total Export to France (in USD)
93,95,"Toys, games and sports requisites; parts and a...",114303,947047,15718,75,317323,103974,30235,35384,...,98,36839,1048,278672,0,698,8365,33117,8,96697
94,96,Miscellaneous manufactured articles,7197,477512,16499,29,34923,17435,11416,4614,...,109,11784,0,31753,29,338,4102,9801,7,26534
95,97,"Works of art, collectors' pieces and antiques",34324,57831,27837,222,2188048,240794,33409,35682,...,0,44479,55,56312,0,454,1109,139762,3,914903
96,99,Commodities not elsewhere specified,1712150,8132271,923722,16188,2515497,516496,364316,202967,...,8638,702820,89,1198712,3967,31424,88872,445646,795,1013555
97,TOTAL,All products,4224508,276491020,40052173,196664,61425144,33720951,12861941,3543820,...,235673,36837943,5921,26454062,271367,957437,11010738,16332145,13134,30598606

In [8]:
product_labels = df['Product Label']
product_codes = df['Product Code']

In [9]:
labels = list(product_labels.apply(lambda code: "_".join([c.strip(string.punctuation) for c in code.lower().split(" ")])))
labels.pop()
labels

['live_animals',
 'meat_and_edible_meat_offal',
 'fish_and_crustaceans_molluscs_and_other_aquatic_invertebrates',
 'dairy_produce_birds_eggs_natural_honey_edible_products_of_animal_origin_not_elsewhere_',
 'products_of_animal_origin_not_elsewhere_specified_or_included',
 'live_trees_and_other_plants_bulbs_roots_and_the_like_cut_flowers_and_ornamental_foliage',
 'edible_vegetables_and_certain_roots_and_tubers',
 'edible_fruit_and_nuts_peel_of_citrus_fruit_or_melons',
 'coffee_tea_matÃ£Â©_and_spices',
 'cereals',
 'products_of_the_milling_industry_malt_starches_inulin_wheat_gluten',
 'oil_seeds_and_oleaginous_fruits_miscellaneous_grains_seeds_and_fruit_industrial_or_medicinal_',
 'lac_gums_resins_and_other_vegetable_saps_and_extracts',
 'vegetable_plaiting_materials_vegetable_products_not_elsewhere_specified_or_included',
 'animal_vegetable_or_microbial_fats_and_oils_and_their_cleavage_products_prepared_edible_fats_',
 'preparations_of_meat_of_fish_of_crustaceans_molluscs_or_other_aquatic_invertebrates_or_',
 'sugars_and_sugar_confectionery',
 'cocoa_and_cocoa_preparations',
 'preparations_of_cereals_flour_starch_or_milk_pastrycooks_products',
 'preparations_of_vegetables_fruit_nuts_or_other_parts_of_plants',
 'miscellaneous_edible_preparations',
 'beverages_spirits_and_vinegar',
 'residues_and_waste_from_the_food_industries_prepared_animal_fodder',
 'tobacco_and_manufactured_tobacco_substitutes_products_whether_or_not_containing_nicotine_',
 'salt_sulphur_earths_and_stone_plastering_materials_lime_and_cement',
 'ores_slag_and_ash',
 'mineral_fuels_mineral_oils_and_products_of_their_distillation_bituminous_substances_mineral_',
 'inorganic_chemicals_organic_or_inorganic_compounds_of_precious_metals_of_rare-earth_metals_',
 'organic_chemicals',
 'pharmaceutical_products',
 'fertilisers',
 'tanning_or_dyeing_extracts_tannins_and_their_derivatives_dyes_pigments_and_other_colouring_',
 'essential_oils_and_resinoids_perfumery_cosmetic_or_toilet_preparations',
 'soap_organic_surface-active_agents_washing_preparations_lubricating_preparations_artificial_',
 'albuminoidal_substances_modified_starches_glues_enzymes',
 'explosives_pyrotechnic_products_matches_pyrophoric_alloys_certain_combustible_preparations',
 'photographic_or_cinematographic_goods',
 'miscellaneous_chemical_products',
 'plastics_and_articles_thereof',
 'rubber_and_articles_thereof',
 'raw_hides_and_skins_other_than_furskins_and_leather',
 'articles_of_leather_saddlery_and_harness_travel_goods_handbags_and_similar_containers_articles_',
 'furskins_and_artificial_fur_manufactures_thereof',
 'wood_and_articles_of_wood_wood_charcoal',
 'cork_and_articles_of_cork',
 'manufactures_of_straw_of_esparto_or_of_other_plaiting_materials_basketware_and_wickerwork',
 'pulp_of_wood_or_of_other_fibrous_cellulosic_material_recovered_waste_and_scrap_paper_or_',
 'paper_and_paperboard_articles_of_paper_pulp_of_paper_or_of_paperboard',
 'printed_books_newspapers_pictures_and_other_products_of_the_printing_industry_manuscripts_',
 'silk',
 'wool_fine_or_coarse_animal_hair_horsehair_yarn_and_woven_fabric',
 'cotton',
 'other_vegetable_textile_fibres_paper_yarn_and_woven_fabrics_of_paper_yarn',
 'man-made_filaments_strip_and_the_like_of_man-made_textile_materials',
 'man-made_staple_fibres',
 'wadding_felt_and_nonwovens_special_yarns_twine_cordage_ropes_and_cables_and_articles_thereof',
 'carpets_and_other_textile_floor_coverings',
 'special_woven_fabrics_tufted_textile_fabrics_lace_tapestries_trimmings_embroidery',
 'impregnated_coated_covered_or_laminated_textile_fabrics_textile_articles_of_a_kind_suitable_',
 'knitted_or_crocheted_fabrics',
 'articles_of_apparel_and_clothing_accessories_knitted_or_crocheted',
 'articles_of_apparel_and_clothing_accessories_not_knitted_or_crocheted',
 'other_made-up_textile_articles_sets_worn_clothing_and_worn_textile_articles_rags',
 'footwear_gaiters_and_the_like_parts_of_such_articles',
 'headgear_and_parts_thereof',
 'umbrellas_sun_umbrellas_walking_sticks_seat-sticks_whips_riding-crops_and_parts_thereof',
 'prepared_feathers_and_down_and_articles_made_of_feathers_or_of_down_artificial_flowers_articles_',
 'articles_of_stone_plaster_cement_asbestos_mica_or_similar_materials',
 'ceramic_products',
 'glass_and_glassware',
 'natural_or_cultured_pearls_precious_or_semi-precious_stones_precious_metals_metals_clad_',
 'iron_and_steel',
 'articles_of_iron_or_steel',
 'copper_and_articles_thereof',
 'nickel_and_articles_thereof',
 'aluminium_and_articles_thereof',
 'lead_and_articles_thereof',
 'zinc_and_articles_thereof',
 'tin_and_articles_thereof',
 'other_base_metals_cermets_articles_thereof',
 'tools_implements_cutlery_spoons_and_forks_of_base_metal_parts_thereof_of_base_metal',
 'miscellaneous_articles_of_base_metal',
 'nuclear_reactors_boilers_machinery_and_mechanical_appliances_parts_thereof',
 'electrical_machinery_and_equipment_and_parts_thereof_sound_recorders_and_reproducers_television_',
 'railway_or_tramway_locomotives_rolling_stock_and_parts_thereof_railway_or_tramway_track_fixtures_',
 'vehicles_other_than_railway_or_tramway_rolling_stock_and_parts_and_accessories_thereof',
 'aircraft_spacecraft_and_parts_thereof',
 'ships_boats_and_floating_structures',
 'optical_photographic_cinematographic_measuring_checking_precision_medical_or_surgical_',
 'clocks_and_watches_and_parts_thereof',
 'musical_instruments_parts_and_accessories_of_such_articles',
 'arms_and_ammunition_parts_and_accessories_thereof',
 'furniture_bedding_mattresses_mattress_supports_cushions_and_similar_stuffed_furnishings_',
 'toys_games_and_sports_requisites_parts_and_accessories_thereof',
 'miscellaneous_manufactured_articles',
 'works_of_art_collectors_pieces_and_antiques',
 'commodities_not_elsewhere_specified']

In [15]:
string_builder = ""

for index, product in enumerate(labels):
    string_builder += f"{product.upper()} = {index}\n"

In [17]:
with open('temp.txt', 'w') as f:
    f.write(string_builder)